@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

.navbar img {
  width: 100px;
}
.navbar .custom-toggler {
  border-color: white;
}
.navbar .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar .nav-link {
  color: #fff !important;
  margin-right: 20px;
  font-weight: 600;
}

.jumbotron {
  background-image: url(../img/bg.webp);
  background-size: cover;
  height: 102.5vh;
  margin-top: -75px;
  color: #fff;
}
.jumbotron .row {
  margin-top: 130px;
}
.jumbotron .row .display-4 {
  font-size: 3rem;
  font-weight: 900;
}

.about {
  margin-top: 100px;
}
.about h5 {
  margin-top: 50px;
}
.about p {
  margin-top: 60px;
}
.about img {
  width: 400px;
  margin-left: 100px;
}

.key-feature {
  text-align: center;
  margin-top: 150px;
}
.key-feature .container .row {
  margin-top: 50px;
}
.key-feature .container .row img {
  margin-top: 30px;
  margin-bottom: 20px;
}
.key-feature .container .row h5 {
  margin-bottom: 20px;
  font-weight: bold;
}

.prog-bar {
  margin-top: 150px;
}
.prog-bar .progress {
  width: 150px;
  height: 150px;
  background: none;
  position: relative;
}
.prog-bar .progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}
.prog-bar .progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.prog-bar .progress .progress-left {
  left: 0;
}
.prog-bar .progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.prog-bar .progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.prog-bar .progress .progress-right {
  right: 0;
}
.prog-bar .progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}
.prog-bar .progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

.product {
  background-color: #F6F7F6;
  margin-top: 150px;
  padding-top: 80px;
  width: auto;
  height: 160vh !important;
  text-align: center;
}
.product h2 {
  font-weight: bold;
}
.product .row {
  margin-top: 80px;
}
.product .row .carousel-inner .carousel-item .card {
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}
.product .row .carousel-inner .carousel-item .card img {
  width: 300px;
  border-radius: 15px;
}
.product .row .carousel-inner .carousel-item .card h5 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}
.product .row .carousel-inner .carousel-item .card p {
  margin-bottom: 30px;
}
.product .row .carousel-inner .carousel-item .card .custom-btn {
  width: 200px;
}
.product .carousel-control-next,
.product .carousel-control-prev {
  filter: invert(100%);
}
.product .wa i {
  margin-right: 10px;
}

.teams {
  display: none;
  margin-top: 150px;
}
.teams .container h2 {
  margin-bottom: 80px;
}
.teams .container .row .text-success {
  margin-top: 50px;
  font-size: 1.2rem;
}
.teams .container .row .status {
  margin-top: -10px;
  font-weight: bold;
}
.teams .container .row a {
  margin: 5px 5px;
}

.faq {
  margin-top: 150px;
}
.faq h4,
.faq h5,
.faq h6 {
  font-weight: bold;
}
.faq .first-head {
  margin-bottom: 30px;
}
.faq .second-head {
  margin-bottom: 80px;
}
.faq .first-text {
  margin-bottom: 30px;
}
.faq .faq-section {
  margin-top: 50px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
}

.company {
  background-color: #373737;
  padding-top: 60px;
  margin-top: 150px;
  margin-bottom: -20px;
}
.company h1 {
  font-weight: bold;
}
.company h1,
.company h5 {
  color: #fff;
  text-align: center;
}
.company .row {
  color: #fff;
}
.company .row img {
  width: 150px;
  margin-top: 50px;
}
.company .row h4 {
  margin-top: 20px;
  font-weight: bold;
}
.company .row p {
  margin-top: 20px;
}
.company .row .fab {
  color: #fff;
  margin: 8px 8px;
}
.company .footer {
  background-color: #282828;
  text-align: center;
  height: 55px;
  padding-top: 15px;
  margin-top: 40px;
}

.custom-btn {
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  margin-top: 50px;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .navbar {
    position: relative;
    z-index: 2;
  }
  .navbar .nav-link {
    margin: 0 auto;
  }

  .jumbotron {
    margin-top: -400px;
    height: 150vh;
    text-align: center;
  }
  .jumbotron .row h3 {
    margin-top: 400px;
    font-size: 1.6rem;
  }
  .jumbotron .row .display-4 {
    font-size: 2.5rem;
  }

  .about h5 {
    margin-top: 30px;
  }
  .about p {
    margin-top: 40px;
  }
  .about img {
    width: 300px;
    margin-left: 20px;
  }

  .product {
    height: 120vh !important;
    text-align: center;
  }
  .product .carousel-inner .carousel-item .card img {
    width: 150px !important;
  }
  .product .carousel-inner .carousel-item .card p {
    font-size: 0.9rem;
  }
  .product .carousel-inner .carousel-item .card .custom-btn {
    font-size: 1rem;
    padding: 10px 10px;
  }
  .product .wa {
    margin-left: unset;
  }

  .teams .container h2 {
    margin-bottom: 50px;
  }
  .teams .col-md-4 {
    margin-top: 80px;
  }
  .teams .col-md-4 img {
    width: 150px;
  }

  .faq .second-head {
    margin-bottom: 50px;
  }
  .faq h4 {
    font-size: 1.3rem;
  }
  .faq .accordion {
    text-align: center;
  }
  .faq .accordion h5 {
    font-size: 1.1rem;
  }

  .company {
    text-align: center;
  }
  .company h1 {
    font-size: 2rem;
  }
  .company h5 {
    font-size: 1rem;
  }
  .company .row img {
    width: 120px;
    margin-top: 30px;
  }
  .company .row h4 {
    font-size: 1.2rem;
    margin-top: 40px;
  }
  .company .row p {
    font-size: 0.9rem;
    margin-top: 40px;
  }
}
@media screen and (min-width: 992px) {
  .product .carousel-inner .carousel-item {
    margin-left: -70px;
  }
  .product .carousel-inner .carousel-item .card {
    width: 700px;
    height: 650px;
  }
}

/*# sourceMappingURL=main.css.map */
